# === GENERAL EXECUTOR SETTINGS ===
executor: slurm
jobs: 200
latency-wait: 120

# === ENVIRONMENT MANAGEMENT ===
use-conda: false # Uses local simphyni env to save time, set to true if new env is needed
conda-frontend: conda
conda-prefix: .snakemake/conda

# === DEFAULT SLURM SUBMISSION SETTINGS ===
slurm-logdir: logs

# === DEFAULT RESOURCE VALUES ===
default-resources:
  mem_mb: 16000
  runtime: "1h"
  cpus: 1
  # set partitions and accounts as needed
  # slurm_partition: "newnodes,sched_mit_hill,sched_any,mit_normal"
  # slurm_account: "mit_general"

# === RULE-SPECIFIC RESOURCE OVERRIDES ===
set-threads:
  reformat_csv: 1
  reformat_tree: 1
  pastml: 64
  aggregatepastml: 64
  SimPhyNI: 64

set-resources:
  reformat_csv:
    mem_mb: 16000
    runtime: "30m"
    cpus: 1
  reformat_tree:
    mem_mb: 16000
    runtime: "30m"
    cpus: 1
  pastml:
    mem_mb: 64000
    runtime: "12h"
    cpus: 64
  aggregatepastml:
    mem_mb: 64000
    runtime: "1.5h"
    cpus: 64
  SimPhyNI:
    mem_mb: 64000
    runtime: "12h"
    cpus: 64
